@charset "ISO-8859-1"

html {
    background-color: #999999;
}

body {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mainContent{
    padding 0px 5px 10px 5px;
}

.navigation {
    background-color: #00004d;
    color:#FFFFFF
}

.navigation a:link{
    color: #ffffff;
}
.navigation a:visited{
    color:#ffff00;
}

#home {font-weight: bold;}

.navigation {
    background-color: 00004d;
    color:aliceblue
    padding: 0px 0px 0px 0px;
    width: 100%;
    display:table;
}

.navigation ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.navigation a:visited { color: #ffffff;}

.navigation li{
    display:table-cell;
    text-align: center;
    vertical-align: center;
    float: left;
    width: 30%;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: bolder;
    
}

.navigation li:hover{
    background-color: #3333ff;
    text-decoration: underline;
}

.navigation li:active {
     background-color: #3333ff;
    text-decoration: underline;
}

.navigation a:link{
    color: #ffffff;
    text-decoration: none;
}

p,h3,h2,h1 {
    font-family: Trebuchet MS;
}

body > div > ul {
    margin-top: 5px;
    margin-bottom: 32px;
}